@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  /* CSS HEX */
  --ink-black: #001219ff;
  --dark-teal: #005f73ff;
  --dark-cyan: #0a9396ff;
  --pine-teal: #004733ff;
  --dusty-olive: #75906dff;
  --vanilla-custard: #e9d8a6ff;
  --golden-orange: #ee9b00ff;
  --rusty-spice: #bb3e03ff;
  --oxidized-iron: #ae2012ff;
  --mahogany-red: #a5211cff;
}

/* body {
  
  color: var(--vanilla-custard);
} */

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  background-color: var(--ink-black);
  /* color: #333; */
  color: var(--vanilla-custard);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

button{
  font-size: 20px;
  background-color: var(--golden-orange);
  color: var(--ink-black);
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  min-width: 100px;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  background-color: var(--rusty-spice);
}


/* button{
  font-size: 20px;
  background-color: var(--golden-orange);
} */